# RegEx (Regular expression)

In [112]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [123]:
df = pd.read_excel('RegEx.xlsx', index_col=False)

In [134]:

df[['Character','Description','Example']]

,Character,Description,Example
0,[],A set of characters,"""[a-m]"""
1,\,Signals a special sequence (can also be used to escape special characters),"""\d"""
2,.,Any character (except newline character),"""he..o"""
3,^,Starts with,"""^hello"""
4,$,Ends with,"""world$"""
5,*,Zero or more occurrences,"""aix*"""
6,+,One or more occurrences,"""aix+"""
7,{},Exactly the specified number of occurrences,"""al{2}"""
8,|,Either or,"""falls|stays"""
9,(),Capture and group,NaN
10,NaN,NaN,NaN
11,NaN,NaN,NaN
12,Character,Description,Example
13,\A,Returns a match if the specified characters are at the beginning of the string,"""\AThe"""
14,\b,Returns a match where the specified characters are at the beginning or at the end of a word,"r""\bain"""
15,NaN,NaN,"r""ain\b"""
16,\B,"Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word","r""\Bain"""
17,NaN,NaN,"r""ain\B"""
18,\d,Returns a match where the string contains digits (numbers from 0-9),"""\d"""
19,\D,Returns a match where the string DOES NOT contain digits,"""\D"""
20,\s,Returns a match where the string contains a white space character,"""\s"""
21,\S,Returns a match where the string DOES NOT contain a white space character,"""\S"""
22,\w,"Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)","""\w"""
23,\W,Returns a match where the string DOES NOT contain any word characters,"""\W"""
24,\Z,Returns a match if the specified characters are at the end of the string,"""Spain\Z"""
25,NaN,NaN,NaN
26,Sets,NaN,NaN
27,NaN,NaN,NaN
28,A set is a set of characters inside a pair of square brackets [] with a special meaning:,NaN,NaN
29,NaN,NaN,NaN
30,Set,Description,NaN
31,[arn],"Returns a match where one of the specified characters (a, r, or n) are present",NaN
32,[a-n],"Returns a match for any lower case character, alphabetically between a and n",NaN
33,[^arn],"Returns a match for any character EXCEPT a, r, and n",NaN
34,[0123],"Returns a match where any of the specified digits (0, 1, 2, or 3) are present",NaN
35,[0-9],Returns a match for any digit between 0 and 9,NaN
36,[0-5][0-9],Returns a match for any two-digit numbers from 00 and 59,NaN
37,[a-zA-Z],"Returns a match for any character alphabetically between a and z, lower case OR upper case",NaN
38,[+],"In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string",NaN

In [18]:
import re

In [21]:
Nameage = """
Pawan is 27 and Karthik is 24
Hemanth is 25 and Yash is 26
"""

ages = re.findall(r'\d{1,3}',Nameage) # to find digits max 1-3 length
names = re.findall(r'[A-Z][a-z]*',Nameage) # find string  Starts with Capital letter (A to Z)

In [28]:
ageDict = {}
x = 0
for eachname in names:
    ageDict[eachname] = ages[x]
    x += 1

In [29]:
print(ageDict)

{'Pawan': '27', 'Karthik': '24', 'Hemanth': '25', 'Yash': '26'}

In [30]:
# Cross checking if code working fine

In [31]:
a = {}
a['pawan'] = 45

In [32]:
a

{'pawan': 45}

In [33]:
type(a)

dict

### matching first string in second string

In [37]:
if re.search("inform","we need to inform him with the latest information"):
    print("True")

True

### Findall return a list with macthes

In [38]:
re.findall("inform","we need to inform him with the latest information")

['inform', 'inform']

### It will return the starting and ending index of matching object in form of tuple

In [48]:
string = "we need to inform him with the latest information"

for i in re.finditer("inform",string):
    loctup = i.span()
    print(loctup)
    print(type(loctup))

(11, 17)
<class 'tuple'>
(38, 44)
<class 'tuple'>

In [50]:
for i in re.finditer("inform",string):
    print(i)
    loctup = i.span()
    print(loctup)

<re.Match object; span=(11, 17), match='inform'>
(11, 17)
<re.Match object; span=(38, 44), match='inform'>
(38, 44)

## Finding a pattern

In [51]:
text = "sat,mat,hat,pat" 
allstr = re.findall("[shmp]at",text)

for i in allstr:
    print(i)
    
# Note: It is case sensitive be carefull with case

sat
mat
hat
pat

###  By range

In [54]:
text = "sat,mat,hat,pat" 
allstr = re.findall("[h-m]at",text) # range between h-m in alphabetic order

for i in allstr:
    print(i)
    
# Note: It is case sensitive be carefull with case

mat
hat

In [55]:
text = "sat,mat,hat,pat" 
allstr = re.findall("[a-z]at",text) # range between a-z (all considered) in alphabetic order

for i in allstr:
    print(i)
    
# Note: It is case sensitive be carefull with case

sat
mat
hat
pat

# ^ symbol using for exclude

In [56]:
text = "sat,mat,hat,pat" 
allstr = re.findall("[^h-m]at",text) # exclude alphabet in h-m range

for i in allstr:
    print(i)
    
# Note: It is case sensitive be carefull with case

sat
pat

# substitute or repalce

In [52]:
food = "hat mat pat rat ragat rasat"

regex = re.compile("[r]at") #starting char is r and ending with at
print(re.findall('[r]at',food))
food = regex.sub("food", food) # replace with food word
print(food)

['rat']
hat mat pat food ragat rasat

In [64]:
food = "hat mat pat rat ragat rasat"

regex = re.compile("[rmph]at") #starting char is r/m/p/h and then at
print(re.findall('[r]at',food))
food = regex.sub("replaced", food) # replace with food word
print(food)

['rat']
replaced replaced replaced replaced ragat rasat

In [71]:
food = "hat mat pat  @ rat ragat rasat"

regex = re.compile("[rmph]*at") #starting char is r/m/p/h + anything + at
print(re.findall('[r]*at',food))
food = regex.sub("replaced", food) # replace with food word
print(food)

['at', 'at', 'at', 'rat', 'at', 'at']
replaced replaced replaced  @ replaced ragreplaced rasreplaced

# regex search , searched everything

In [72]:
randstr = "here is \\drogba"
print(randstr)

here is \drogba

In [73]:
print(re.search(r"\\drogba",randstr))

<re.Match object; span=(8, 15), match='\\drogba'>

# workout with space and lines

In [75]:
text = '''
keep the blue flag
flying high
chelsea
'''
print(text)

regex = re.compile('\n')
print(regex)
new_text = regex.sub(" ",text)
print(new_text) # Now all lines will come in one line

keep the blue flag
flying high
chelsea

re.compile('\n')
 keep the blue flag flying high chelsea

# Matches with number/ not number
- \d for number
- \D except numbers

In [80]:
randstr = "abc1234"

print("total Matches: ",re.findall("\d",randstr))  # searching for numbers in given string

print("total Matches: ",len(re.findall("\d",randstr)))

total Matches:  ['1', '2', '3', '4']
total Matches:  4

In [82]:
randstr = "abc!@1234$"

print("total Matches: ",(re.findall("\D",randstr))) # searching except numbers

print("total Matches: ",len(re.findall("\D",randstr))) # searching except numbers

total Matches:  ['a', 'b', 'c', '!', '@', '$']
total Matches:  6

In [93]:
randstr = "abc!@12342"

print(f"Given String - {randstr}")

print("total Matches: ",(re.findall("\d{1}",randstr))) # searching number with 1 digits

print("total Matches: ",len(re.findall("\d{1}",randstr))) # searching for number with 1 digits

# ------------------------------------------------------------------------------------------------------------

print("total Matches: ",(re.findall("\d{2}",randstr))) # searching number with 2 digits

print("total Matches: ",len(re.findall("\d{2}",randstr))) # searching for number with 2 digits

# ------------------------------------------------------------------------------------------------------------

print("total Matches: ",(re.findall("\d{3}",randstr))) # searching number with 3 digits

print("total Matches: ",len(re.findall("\d{3}",randstr))) # searching for number with 3 digits

Given String - abc!@12342
total Matches:  ['1', '2', '3', '4', '2']
total Matches:  5
total Matches:  ['12', '34']
total Matches:  2
total Matches:  ['123']
total Matches:  1

In [97]:
num = "123 11234 12345 123456 1234567"

print("Matches: ",re.findall("\d{5,7}",num)) # 1st it will searching for 5 digit then 6 digits then 7 digits

print("Matches: ",len(re.findall("\d{5,7}",num)))

Matches:  ['11234', '12345', '123456', '1234567']
Matches:  4

# Phone number recognition

In [102]:
phn = "123-466-1254" # Pattern

if re.search("\d{3}-\d{3}-\d{4}",phn):
    print("it is phone number")

it is phone number

# full name validation

In [107]:
if re.search("\w{2,20}\s\w{2,20}","Pawan Yadav"): #\s stands for space and w for anything
    
    print("full name is valid")

full name is valid

# email validation

In [96]:
email = "1abc@gmail.com"

if re.search("[\w._%+-]{1,20}@[a-zA-z].[a-z]{2,3}",email):
    print("valid email")
else:
    print("not valid email")

valid email